<% if logged_in? %> <!-- This is an (unlikely) edge case. -->
  <h2>Edit your recipe here, Chef <%= current_user.username %>!</h2>

  <% if !flash[:validations].blank? %>
    <p><strong>Errors:</strong></p>
    <ol>
      <% flash[:validations].each do |validation_error| %>
        <li><%= validation_error %></li>
      <% end %>
    </ol>
    <br />
  <% end %>

  <form method="post" action="/recipes/<%= @recipe.id %>">
    <input type="hidden" id="hidden" name="_method" value="patch" />

    <input type="submit" value="Submit Changes" />
  </form>

<% else %> <!-- This is an edge case, as mentioned above. -->
  <h2>You are not logged in. <a href="/users/login">Click here to go to the login page.</a></h2>
<% end %>