<h2>Here are all the recipes! Click on a recipe to view more information about it.</h2>

<ol>
  <% @recipes.sort_by{|recipe| recipe.name}.each do |recipe| %>
    <p>
      <li><%= recipe.name %></li>
    </p>
  <% end %>
</ol>