<h2>Chef <%= current_user.username %>, please create your new recipe here!</h2>
<!-- I should put a flash message here if there is no current_user. -->

<form method="post" action="/recipes">
  <input type="submit" value="Create Recipe" />
</form>