<% if @recipe %>
  <h2><%= @recipe.name if @recipe.name %></h2>

  <% if @recipe.user && @recipe.user.username %>
    <p>Posted by: <%= @recipe.user.username %></p>
  <% end %>

  <% if @recipe.image_url %>
    <p><img src="<%= @recipe.image_url %>" alt="<%= @recipe.name %>" /></p>
  <% end %>
<% else %>
  <h3>Uh-Oh! This recipe doesn't exist. Click <a href="/recipes">here</a> to go back to the recipes.</h3>
<% end %>