<h2>Welcome back, Chef! Please log in here.</h2>

<% if !flash[:error].blank? %>
  <p><%= flash[:error] %></p>
<% elsif !flash[:logout].blank? %>
  <p><%= flash[:logout] %></p>
<% elsif !flash[:message].blank? %>
  <p><%= flash[:message] %></p>
<% end %>

<form method="post" action="/users/login">
  <p>
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" required />
  </p>
  <p>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" required />
  </p>
  <p><input type="submit" value="Log in" /></p>
</form>