<h2>Welcome back, Chef! Please log in here.</h2>

<p><%= flash[:message] if !flash[:message].blank? %>

<form method="post" action="/users/login">
  <p>
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" required />
  </p>
  <p>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" required />
  </p>
  <p><input type="submit" value="Log in" /></p>
</form>