<h2>Welcome back, Chef! Please log in here.</h2>

<% if !flash[:error].blank? %>
  <p class="error-message"><%= flash[:error] %></p>
<% elsif !flash[:success].blank? %>
  <p class="success-message"><%= flash[:success] %></p>
<% else %> <!-- flash[:login] should never be blank. -->
  <p class="login-message"><%= flash[:login] %></p>
<% end %>

<div>
  <small>
    <div class="required">*</div> Required field
  </small>
</div>

<form method="post" action="/users/login">
  <p>
    <label for="username"><div class="required">*</div> Username: </label>
    <input type="text" id="username" name="username" required />
  </p>
  <p>
    <label for="password"><div class="required">*</div> Password: </label>
    <input type="password" id="password" name="password" required />
  </p>
  <p><input type="submit" value="Log in" /></p>
</form>