<h2>Create a new account here.</h2>

<form method="post" action="/users">
  <p>
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" />
  </p>
  <p>
    <label for="email">E-mail: </label>
    <input type="text" id="email" name="email" />
  </p>
  <p>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" />
  </p>
  <input type="submit" id="submit" value="Create User" />
</form>