<h2>Ready to be a chef? Then create a new account here!</h2>

<% if !flash[:validations].blank? %>
  <p class="error-message"><strong>Errors:</strong></p>
  <ol>
    <% flash[:validations].each do |validation_error| %>
      <li class="error-message"><%= validation_error %></li>
    <% end %>
  </ol>
  <br />
<% end %>

<div>
  <small>
    <div class="required">*</div> Required field
  </small>
</div>

<form method="post" action="/users">
  <p>
    <label for="username"><div class="required">*</div> Username: </label>
    <input type="text" id="username" name="username" required />
  </p>
  <p>
    <label for="email"><div class="required">*</div> E-mail: </label>
    <input type="email" id="email" name="email" required />
  </p>
  <p>
    <label for="password"><div class="required">*</div> Password: </label>
    <input type="password" id="password" name="password" required />
  </p>
  <input type="submit" id="submit" value="Create User" />
</form>