<h2>Ready to be a chef? Then create a new account here!</h2>

<% if !flash[:errors].blank? %>
  <% flash[:errors].each do |error_message| %>
    <p><%= error_message %></p>
  <% end %>
<% end %>

<form method="post" action="/users">
  <p>
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" required />
  </p>
  <p>
    <label for="email">E-mail: </label>
    <input type="email" id="email" name="email" required />
  </p>
  <p>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" required />
  </p>
  <input type="submit" id="submit" value="Create User" />
</form>