<h2>Welcome to the Recipe Rolodex!</h2>

<% if !flash[:error].blank? %>
  <p class="error-message"><%= flash[:error] %></p>
<% elsif !flash[:login].blank? %>
  <p class="login-message"><%= flash[:login] %></p>
<% end %>

<p>
  Here, you can make an account and create, view, edit, and delete your own recipes. 
  (If a recipe that you post on here is not your own, then please give credit where credit is due.) 
  Eventually, the Recipe Rolodex will be hosted on the web outside of Github, so you'll be able to check out the recipes that other people have created as well.
</p>

<p>
  <h3 class="important-note">Important note about adding an image to a recipe:</strong></h3>
  When you create and edit a recipe, you have the option of adding an image URL of the finished recipe. Here's how:<br />
  <ol>
    <li>Upload a photo or image (legally, please!) to your favorite photo hosting web service.</li>
    <li class="important-note">Make sure that you're obeying your web service's Terms of Use before proceeding to the next step!</li>
    <li>
      Copy and paste your photo's URL into the Image URL field in the recipe's "create" or "edit" form. 
    </li>
  </ol>
  For now, the Recipe Rolodex does not adjust the image size, so keep your images as small as possible. 
  For best results, use images that are no larger than 480px by 320px. 
  Images uploaded from mobile phones should display just fine.
</p>